## --- BEGIN DISCLAIMER ---
## Those who use this do so at their own risk;
## AFSEO does not provide maintenance nor support.
## --- END DISCLAIMER ---
## --- BEGIN AFSEO_DATA_RIGHTS ---
## This is a work of the U.S. Government and is placed
## into the public domain in accordance with 17 USC Sec.
## 105. Those who redistribute or derive from this work
## are requested to include a reference to the original,
## at <https://github.com/afseo/cmits>, for example by
## including this notice in its entirety in derived works.
## --- END AFSEO_DATA_RIGHTS ---
## This template is used to write placeholder sections in the
## per-IA-control compliance chapter. The chapter talks about IA
## controls that are treated in the policy; the placeholder sections
## are about IA controls that are not treated in the policy. The goal
## is that if the set of controls treated changes, the section numbers
## in the chapter will still remain the same, for citability.
##
## This template is written in a small subset of Cheetah's syntax,
## viz: lines beginning with ## are ignored as comments; ${id} is
## replaced with the identifier of the IA control, e.g. COEB-1;
## ${title} is replaced with the name of the IA control, e.g.
## Enclave Boundary Defense.
\section{(${id})}
\label{iac-${id}}

This section is reserved for future expansion.
